Bi[Gg] World Backup/
Bi[Gg] World Downloads/
Bi[Gg] World Setup/BWS-Selection.ini
Bi[Gg] World Setup/Config/Setup.ini
Bi[Gg] World Setup/Config/User.ini
Bi[Gg] World Setup/Includes_Traced/
Bi[Gg] World Setup/Logs/
Bi[Gg] World Setup/OverwriteFiles/
Bi[Gg] World Setup/Tools/Git/
Bi[Gg] World Setup/Traced.au3
Git/
OverwriteFiles/

**/bwfixpack.ini
**/BWS-EE-Fixpack.ini
**/PreSelection00.ini
**/Mod.ini
**/Mod-*.ini
**/WeiDU-*.ini
**/BWS-EE-Version.txt
